<body>
  <div class="container">
    <div class="row">
      <div class="col"><app-contacts></app-contacts></div>
      <div class="col"><app-send-message></app-send-message></div>
    </div>
  </div>
</body>
<!-- 
<div class="container-contact100">
  <div class="wrap-contact100">
    <app-contacts></app-contacts>
    <app-send-message></app-send-message>
  </div>
</div> -->
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="bg bg-left">
        <h2>
          Create your snippet's HTML, CSS and Javascript in the editor tabs
        </h2>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="bg bg-right">
        <h2>
          Create your snippet's HTML, CSS and Javascript in the editor tabs
        </h2>
      </div>
    </div>
  </div>
</div> -->
