.big-banner {
  background: url("/assets/images/bgimg.jpeg");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-left: 0px;
  padding-top: 100px;
}
.row {
  text-align: center;
  color: black;
}
